.header {
  display: flex;
}

.header__left {
  display: flex;
}

.header__left img {
  object-fit: contain;
  height: 34px;
  margin-right: 10px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 34px;
  color: gray;
  background-color: #eef3f8;
}

.header__search input {
  border: none;
  outline: none;
  background: none;
}

.header__right {
}
